<% block('title', 'Dashboard'); %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Layouts</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">

        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <!-- <span class="label label-success float-right">Monthly</span> -->
                    <h5>Admin</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">
                        <%= adminCount %>
                    </h1>
                    <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                    <!-- <small>Total income</small> -->
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <!-- <span class="label label-success float-right">Monthly</span> -->
                    <h5>Users</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">
                        <%= usersCount %>
                    </h1>
                    <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                    <!-- <small>Total income</small> -->
                </div>
            </div>
        </div>
    </div>
</div>