<div style="background-image:url('/images/codes.jpeg');" class="h-100">
  <div class="justify-content-center d-flex align-items-center h-100">
    <div class="shadow-lg">
      <img src="/images/logistic-logo.svg" alt="logistic logo" class="my-4 ">

      <h1 class="bg-dark rounded px-5 py-3 text-light">
        Welcome to
        <%= sails.config.siteName %>
      </h1>
    </div>
  </div>
</div>
